<h1>Your past mistakes:</h1>

<h3>Total (in dollars, not souls): <%= @order.total %></h3>

<div class="row">
<% @order.user_products.each do |user_product| %>
  <div class="col-md-4">
    <div class="card col-md-2">
        <%= image_tag(user_product.product.image, style: "height: 100%; width: 100%;", class: "card-img-top") %>
      </div>
        <div class="card-body">
          <h5 class="card-title"><%= user_product.product.name %></h5>
          <p class="card-text"><%= user_product.product.price_format %></p>
          <%= link_to("View in store", "/products/#{user_product.product.id}", class: "btn btn-warning") %>
        </div>
  </div>
  <% end %>