<h3><%= @product.name %></h3>
<%= image_tag("#{@product.image_url}", size: "720x480") %>
<br>
<!-- <%= label_tag(:category_id, @product.category_id) %> -->
<p><%= @product.price_format %></p>
<p><%= @product.description %></p>
<%= link_to("Now go back to your comfort zone.", "/products", class: "btn btn-primary") %>
  <% if user_signed_in? && current_user.is_admin? %>
<%= link_to("You goofed something", "/products/#{@product.id}/edit", class: "btn btn-warning") %>
<%= link_to("If you made a mistake so big you gotta erase it, go here.", "/products/#{@product.id}", method: :delete, data: {confirm: "You're gonna just delete this thing? No ritual?"}, class: "btn btn-danger") %>
  <% end %>